.navigation {
    margin-bottom: 20px
}

.brand {
    color: white;
    font-size: 15px;
    margin-top: -20px
}

.navlink {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-top: -25px;
    margin-left: 10px;
}

.navlink:hover {
    color: wheat;
}

.active {
    text-shadow: 1px 1px grey;
    color: wheat;
}